<div class="container">
    <div class= "row jumbotron">
        <h1 class="text-center">Meet the Educators</h1>
    </div>
    <div class="row jumbotron">
        <div class="col-md-3">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/02f/375/2403950.jpg" alt="Ben Varvil" class="img-rounded"></img>
        </div>
        <div class="col-md-9">
            <p>
                Ben Varvil has a Mechanical Engineering Degree from Purdue University and has worked in the engineering 
                field for four years as an engineering consultant in the Bay Area. He received his teaching credential 
                from Dominican University and is in the midst of his fifth year teaching.
            </p>
        </div>
    </div>
</div>