
<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Video Library</h1>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/kLjLgxFx9r4" frameborder="0" allowfullscreen></iframe>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel varius mi. 
                Suspendisse pretium vehicula purus ut fringilla. Proin placerat mattis lectus, non 
                aliquet purus gravida sit amet. Nunc nec turpis orci. Integer pellentesque iaculis 
                justo in fringilla. Sed ornare tellus lobortis, consequat enim eget, ullamcorper elit. 
                Donec nibh mauris, rhoncus sagittis luctus vitae, auctor sit amet nibh.
            </p>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/jMjpNe4xUcs" frameborder="0" allowfullscreen></iframe>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel varius mi. 
                Suspendisse pretium vehicula purus ut fringilla. Proin placerat mattis lectus, non 
                aliquet purus gravida sit amet. Nunc nec turpis orci. Integer pellentesque iaculis 
                justo in fringilla. Sed ornare tellus lobortis, consequat enim eget, ullamcorper elit. 
                Donec nibh mauris, rhoncus sagittis luctus vitae, auctor sit amet nibh.
            </p>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/qS68apoFv6Y" frameborder="0" allowfullscreen></iframe>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel varius mi. 
                Suspendisse pretium vehicula purus ut fringilla. Proin placerat mattis lectus, non 
                aliquet purus gravida sit amet. Nunc nec turpis orci. Integer pellentesque iaculis 
                justo in fringilla. Sed ornare tellus lobortis, consequat enim eget, ullamcorper elit. 
                Donec nibh mauris, rhoncus sagittis luctus vitae, auctor sit amet nibh.
            </p>
        </div>
    </div>
</div>