<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Video Library</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/gTuKZ-na6xE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/kLjLgxFx9r4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/jMjpNe4xUcs" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/qS68apoFv6Y" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>