@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
}

body {
    padding-top: 70px;
/*    background-image: url("https://images.unsplash.com/photo-1433840661007-2bbdc5a2f6db?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4e4fe04a30d05258ef713ad510df6c29");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
}