.profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    border: solid white 4px;
}
.community-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    border: solid black 4px;

}

.index-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    border: solid white 4px;
}

h3 {
    margin-top: 5px;
}

.white-bg {
    background-color: white;
}